In [4]:
import pandas as pd
import numpy as np
import os
import urllib
from sklearn.metrics import mean_absolute_error
%matplotlib inline

In [5]:
url = 'https://covid19.who.int/WHO-COVID-19-global-data.csv'
file_path = os.path.join('data', 'covid')

In [6]:
os.makedirs(file_path, exist_ok=True)
csv_path = os.path.join(file_path, 'WHO-covid-19-global-data.csv')
urllib.request.urlretrieve(url, csv_path)

('data\\covid\\WHO-covid-19-global-data.csv',
 <http.client.HTTPMessage at 0x2a1a0e59d88>)

In [7]:
df = pd.read_csv(csv_path)

In [32]:
print(df)

      Date_reported Country_code      Country WHO_region  New_cases  \
0        2020-02-24           AF  Afghanistan       EMRO          5
1        2020-02-25           AF  Afghanistan       EMRO          0
2        2020-02-26           AF  Afghanistan       EMRO          0
3        2020-02-27           AF  Afghanistan       EMRO          0
4        2020-02-28           AF  Afghanistan       EMRO          0
...             ...          ...          ...        ...        ...
31764    2020-07-26           ZW     Zimbabwe       AFRO        138
31765    2020-07-27           ZW     Zimbabwe       AFRO         78
31766    2020-07-28           ZW     Zimbabwe       AFRO        192
31767    2020-07-29           ZW     Zimbabwe       AFRO        113
31768    2020-07-30           ZW     Zimbabwe       AFRO         62

       Cumulative_cases  New_deaths  Cumulative_deaths   Pct_cases
0                     5           0                  0  100.000000
1                     5           0                  0    0.000000
2                     5           0                  0    0.000000
3                     5           0                  0    0.000000
4                     5           0                  0    0.000000
...                 ...         ...                ...         ...
31764              2434           2                 34    5.669680
31765              2512           0                 34    3.105096
31766              2704           2                 36    7.100592
31767              2817           4                 40    4.011360
31768              2879           1                 41    2.153526

[31769 rows x 9 columns]

In [8]:
df_index = df.index
df_index

RangeIndex(start=0, stop=31769, step=1)

In [9]:
df_cols = df.columns
df_cols

Index(['Date_reported', ' Country_code', ' Country', ' WHO_region',
       ' New_cases', ' Cumulative_cases', ' New_deaths', ' Cumulative_deaths'],
      dtype='object')

In [10]:
df_index.values

array([    0,     1,     2, ..., 31766, 31767, 31768], dtype=int64)

In [11]:
df.dtypes

Date_reported         object
 Country_code         object
 Country              object
 WHO_region           object
 New_cases             int64
 Cumulative_cases      int64
 New_deaths            int64
 Cumulative_deaths     int64
dtype: object

In [12]:
df.shape

(31769, 8)

In [33]:
df.head

<bound method NDFrame.head of       Date_reported Country_code      Country WHO_region  New_cases  \
0        2020-02-24           AF  Afghanistan       EMRO          5
1        2020-02-25           AF  Afghanistan       EMRO          0
2        2020-02-26           AF  Afghanistan       EMRO          0
3        2020-02-27           AF  Afghanistan       EMRO          0
4        2020-02-28           AF  Afghanistan       EMRO          0
...             ...          ...          ...        ...        ...
31764    2020-07-26           ZW     Zimbabwe       AFRO        138
31765    2020-07-27           ZW     Zimbabwe       AFRO         78
31766    2020-07-28           ZW     Zimbabwe       AFRO        192
31767    2020-07-29           ZW     Zimbabwe       AFRO        113
31768    2020-07-30           ZW     Zimbabwe       AFRO         62

       Cumulative_cases  New_deaths  Cumulative_deaths   Pct_cases
0                     5           0                  0  100.000000
1                     5           0                  0    0.000000
2                     5           0                  0    0.000000
3                     5           0                  0    0.000000
4                     5           0                  0    0.000000
...                 ...         ...                ...         ...
31764              2434           2                 34    5.669680
31765              2512           0                 34    3.105096
31766              2704           2                 36    7.100592
31767              2817           4                 40    4.011360
31768              2879           1                 41    2.153526

[31769 rows x 9 columns]>

In [34]:
df.tail

<bound method NDFrame.tail of       Date_reported Country_code      Country WHO_region  New_cases  \
0        2020-02-24           AF  Afghanistan       EMRO          5
1        2020-02-25           AF  Afghanistan       EMRO          0
2        2020-02-26           AF  Afghanistan       EMRO          0
3        2020-02-27           AF  Afghanistan       EMRO          0
4        2020-02-28           AF  Afghanistan       EMRO          0
...             ...          ...          ...        ...        ...
31764    2020-07-26           ZW     Zimbabwe       AFRO        138
31765    2020-07-27           ZW     Zimbabwe       AFRO         78
31766    2020-07-28           ZW     Zimbabwe       AFRO        192
31767    2020-07-29           ZW     Zimbabwe       AFRO        113
31768    2020-07-30           ZW     Zimbabwe       AFRO         62

       Cumulative_cases  New_deaths  Cumulative_deaths   Pct_cases
0                     5           0                  0  100.000000
1                     5           0                  0    0.000000
2                     5           0                  0    0.000000
3                     5           0                  0    0.000000
4                     5           0                  0    0.000000
...                 ...         ...                ...         ...
31764              2434           2                 34    5.669680
31765              2512           0                 34    3.105096
31766              2704           2                 36    7.100592
31767              2817           4                 40    4.011360
31768              2879           1                 41    2.153526

[31769 rows x 9 columns]>

In [35]:
df.describe

<bound method NDFrame.describe of       Date_reported Country_code      Country WHO_region  New_cases  \
0        2020-02-24           AF  Afghanistan       EMRO          5
1        2020-02-25           AF  Afghanistan       EMRO          0
2        2020-02-26           AF  Afghanistan       EMRO          0
3        2020-02-27           AF  Afghanistan       EMRO          0
4        2020-02-28           AF  Afghanistan       EMRO          0
...             ...          ...          ...        ...        ...
31764    2020-07-26           ZW     Zimbabwe       AFRO        138
31765    2020-07-27           ZW     Zimbabwe       AFRO         78
31766    2020-07-28           ZW     Zimbabwe       AFRO        192
31767    2020-07-29           ZW     Zimbabwe       AFRO        113
31768    2020-07-30           ZW     Zimbabwe       AFRO         62

       Cumulative_cases  New_deaths  Cumulative_deaths   Pct_cases
0                     5           0                  0  100.000000
1                     5           0                  0    0.000000
2                     5           0                  0    0.000000
3                     5           0                  0    0.000000
4                     5           0                  0    0.000000
...                 ...         ...                ...         ...
31764              2434           2                 34    5.669680
31765              2512           0                 34    3.105096
31766              2704           2                 36    7.100592
31767              2817           4                 40    4.011360
31768              2879           1                 41    2.153526

[31769 rows x 9 columns]>

In [16]:
df[' Country']

0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
31764       Zimbabwe
31765       Zimbabwe
31766       Zimbabwe
31767       Zimbabwe
31768       Zimbabwe
Name:  Country, Length: 31769, dtype: object

In [17]:
df[' Country'].unique()

array(['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Anguilla', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Aruba',
       'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain',
       'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin',
       'Bermuda', 'Bhutan', 'Bolivia (Plurinational State of)',
       'Bonaire, Sint Eustatius and Saba', 'Bosnia and Herzegovina',
       'Botswana', 'Brazil', 'British Virgin Islands',
       'Brunei Darussalam', 'Bulgaria', 'Burkina Faso', 'Burundi',
       'Cabo Verde', 'Cambodia', 'Cameroon', 'Canada', 'Cayman Islands',
       'Central African Republic', 'Chad', 'Chile', 'China', 'Colombia',
       'Comoros', 'Congo', 'Costa Rica', 'Côte d’Ivoire', 'Croatia',
       'Cuba', 'Curaçao', 'Cyprus', 'Czechia',
       'Democratic Republic of the Congo', 'Denmark', 'Djibouti',
       'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
       'Eswatini', 'Ethiopia', 'Falkland Islands (Malvinas)',
       'Faroe Islands', 'Fiji', 'Finland', 'France', 'French Guiana',
       'French Polynesia', 'Gabon', 'Gambia', 'Georgia', 'Germany',
       'Ghana', 'Gibraltar', 'Greece', 'Greenland', 'Grenada',
       'Guadeloupe', 'Guam', 'Guatemala', 'Guernsey', 'Guinea',
       'Guinea-Bissau', 'Guyana', 'Haiti', 'Holy See', 'Honduras',
       'Hungary', 'Iceland', 'India', 'Indonesia',
       'Iran (Islamic Republic of)', 'Iraq', 'Ireland', 'Isle of Man',
       'Israel', 'Italy', 'Jamaica', 'Japan', 'Jersey', 'Jordan',
       'Kazakhstan', 'Kenya', 'Kosovo[1]', 'Kuwait', 'Kyrgyzstan',
       "Lao People's Democratic Republic", 'Latvia', 'Lebanon', 'Lesotho',
       'Liberia', 'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg',
       'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta',
       'Martinique', 'Mauritania', 'Mauritius', 'Mayotte', 'Mexico',
       'Monaco', 'Mongolia', 'Montenegro', 'Montserrat', 'Morocco',
       'Mozambique', 'Myanmar', 'Namibia', 'Nepal', 'Netherlands',
       'New Caledonia', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria',
       'North Macedonia',
       'Northern Mariana Islands (Commonwealth of the)', 'Norway',
       'occupied Palestinian territory, including east Jerusalem', 'Oman',
       'Other', 'Pakistan', 'Panama', 'Papua New Guinea', 'Paraguay',
       'Peru', 'Philippines', 'Poland', 'Portugal', 'Puerto Rico',
       'Qatar', 'Republic of Korea', 'Republic of Moldova', 'Réunion',
       'Romania', 'Russian Federation', 'Rwanda', 'Saint Barthélemy',
       'Saint Kitts and Nevis', 'Saint Lucia', 'Saint Martin',
       'Saint Pierre and Miquelon', 'Saint Vincent and the Grenadines',
       'San Marino', 'Sao Tome and Principe', 'Saudi Arabia', 'Senegal',
       'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore',
       'Sint Maarten', 'Slovakia', 'Slovenia', 'Somalia', 'South Africa',
       'South Sudan', 'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Sweden',
       'Switzerland', 'Syrian Arab Republic', 'Tajikistan', 'Thailand',
       'The United Kingdom', 'Timor-Leste', 'Togo', 'Trinidad and Tobago',
       'Tunisia', 'Turkey', 'Turks and Caicos Islands', 'Uganda',
       'Ukraine', 'United Arab Emirates', 'United Republic of Tanzania',
       'United States of America', 'United States Virgin Islands',
       'Uruguay', 'Uzbekistan', 'Venezuela (Bolivarian Republic of)',
       'Viet Nam', 'Yemen', 'Zambia', 'Zimbabwe'], dtype=object)

In [18]:
df.columns = [col.strip() for col in df.columns]

In [19]:
df.Country

0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
31764       Zimbabwe
31765       Zimbabwe
31766       Zimbabwe
31767       Zimbabwe
31768       Zimbabwe
Name: Country, Length: 31769, dtype: object

In [20]:
df.loc[1:4, 'Country']

1    Afghanistan
2    Afghanistan
3    Afghanistan
4    Afghanistan
Name: Country, dtype: object

In [21]:
df.loc[1:8, ['Country', 'New_cases']]

       Country  New_cases
1  Afghanistan          0
2  Afghanistan          0
3  Afghanistan          0
4  Afghanistan          0
5  Afghanistan          0
6  Afghanistan          0
7  Afghanistan          0
8  Afghanistan          0

In [22]:
df.Country == 'United States of America'

0        False
1        False
2        False
3        False
4        False
         ...
31764    False
31765    False
31766    False
31767    False
31768    False
Name: Country, Length: 31769, dtype: bool

In [23]:
df[df.Country == 'United States of America']

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
30447,2020-01-20,US,United States of America,AMRO,5,5,0,0
30448,2020-01-21,US,United States of America,AMRO,0,5,0,0
30449,2020-01-22,US,United States of America,AMRO,0,5,0,0
30450,2020-01-23,US,United States of America,AMRO,0,5,0,0
30451,2020-01-24,US,United States of America,AMRO,1,6,0,0
...,...,...,...,...,...,...,...,...
30636,2020-07-27,US,United States of America,AMRO,63968,4148011,929,145727
30637,2020-07-28,US,United States of America,AMRO,61498,4209509,604,146331
30638,2020-07-29,US,United States of America,AMRO,54022,4263531,1118,147449
30639,2020-07-30,US,United States of America,AMRO,59629,4323160,1191,148640
30640,2020-07-31,US,United States of America,AMRO,65406,4388566,1414,150054

In [24]:
df[df.New_deaths > 1000]

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
4026,2020-05-21,BR,Brazil,AMRO,17408,271628,1179,17971
4028,2020-05-23,BR,Brazil,AMRO,18508,310087,1188,20047
4029,2020-05-24,BR,Brazil,AMRO,20803,330890,1001,21048
4033,2020-05-28,BR,Brazil,AMRO,16324,391222,1039,24512
4034,2020-05-29,BR,Brazil,AMRO,20599,411821,1086,25598
...,...,...,...,...,...,...,...,...
30634,2020-07-25,US,United States of America,AMRO,71714,4009808,1110,143663
30635,2020-07-26,US,United States of America,AMRO,74235,4084043,1135,144798
30638,2020-07-29,US,United States of America,AMRO,54022,4263531,1118,147449
30639,2020-07-30,US,United States of America,AMRO,59629,4323160,1191,148640
30640,2020-07-31,US,United States of America,AMRO,65406,4388566,1414,150054

In [25]:
df.loc[(df.New_deaths > 6000) & (df.Country_code == 'US'), 
       ['Date_reported', 'New_cases', 'New_deaths', 'Cumulative_deaths']]

      Date_reported  New_cases  New_deaths  Cumulative_deaths
30535    2020-04-17      28711        6409              32280

In [26]:
df.loc[df.Country_code == 'US', ['New_cases', 'Date_reported']].max()

New_cases             74354
Date_reported    2020-07-31
dtype: object

In [27]:
df.loc[df.Country_code == 'US', ['New_cases', 'Date_reported']].min()

New_cases                 0
Date_reported    2020-01-20
dtype: object

In [28]:
df.loc[df.New_deaths.idxmax(), ['Date_reported', 'New_cases', 'New_deaths', 'Cumulative_deaths']]

Date_reported        2020-04-17
New_cases                 28711
New_deaths                 6409
Cumulative_deaths         32280
Name: 30535, dtype: object

In [29]:
df[df.New_deaths < 0]

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
1583,2020-06-04,AU,Australia,WPRO,8,7229,-1,102
4639,2020-07-13,BF,Burkina Faso,AFRO,13,1033,-1,53
6531,2020-06-09,CG,Congo,AFRO,0,683,-2,20
7375,2020-05-14,CY,Cyprus,EURO,2,905,-6,17
7532,2020-05-19,CZ,Czechia,EURO,111,8586,-1,297
7579,2020-07-05,CZ,Czechia,EURO,121,12440,-1,351
7580,2020-07-06,CZ,Czechia,EURO,75,12515,-3,348
7823,2020-05-13,DK,Denmark,EURO,78,10591,-6,527
10183,2020-05-20,FR,France,EURO,462,140959,-218,27972
11984,2020-07-06,GP,Guadeloupe,AMRO,0,184,-2,14
12198,2020-05-05,GT,Guatemala,AMRO,15,703,-2,17
12542,2020-07-04,GN,Guinea,AFRO,71,5521,-13,33
14306,2020-05-26,IE,Ireland,EURO,59,24698,-2,1606
14814,2020-06-25,IT,Italy,EURO,577,239410,-31,34644
18814,2020-06-16,YT,Mayotte,AFRO,28,2310,-1,28
23379,2020-05-05,PR,Puerto Rico,AMRO,35,1843,-43,54
25593,2020-05-10,ST,Sao Tome and Principe,AFRO,-43,165,-1,4
27340,2020-05-23,SS,South Sudan,AFRO,0,473,-1,5
30553,2020-05-05,US,United States of America,AMRO,29266,1154985,-514,67279
31737,2020-06-29,ZW,Zimbabwe,AFRO,0,567,-1,6

In [30]:
df['Pct_cases'] = (df['New_cases'] / df['Cumulative_cases'])*100

In [31]:
df

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths,Pct_cases
0,2020-02-24,AF,Afghanistan,EMRO,5,5,0,0,100.000000
1,2020-02-25,AF,Afghanistan,EMRO,0,5,0,0,0.000000
2,2020-02-26,AF,Afghanistan,EMRO,0,5,0,0,0.000000
3,2020-02-27,AF,Afghanistan,EMRO,0,5,0,0,0.000000
4,2020-02-28,AF,Afghanistan,EMRO,0,5,0,0,0.000000
...,...,...,...,...,...,...,...,...,...
31764,2020-07-26,ZW,Zimbabwe,AFRO,138,2434,2,34,5.669680
31765,2020-07-27,ZW,Zimbabwe,AFRO,78,2512,0,34,3.105096
31766,2020-07-28,ZW,Zimbabwe,AFRO,192,2704,2,36,7.100592
31767,2020-07-29,ZW,Zimbabwe,AFRO,113,2817,4,40,4.011360
31768,2020-07-30,ZW,Zimbabwe,AFRO,62,2879,1,41,2.153526

In [36]:
from sklearn.tree import DecisionTreeRegressor

In [47]:
df_ger = df[df.Country == 'Germany']
y = df_ger.New_cases
needed_columns =['Cumulative_cases', 'New_deaths']
X = df_ger[needed_columns]
model = DecisionTreeRegressor()
model.fit(X, y)

print("First in-sample predictions:", model.predict(X.head(n=20)))
print("Actual target values:", y.head(n=20).tolist())

First in-sample predictions: [2.66666667 2.66666667 2.66666667 3.         1.         1.
 1.         1.         1.         1.         0.25       0.25
 0.25       0.25       0.14285714 0.14285714 0.14285714 0.14285714
 0.14285714 0.14285714]
Actual target values: [8, 0, 0, 3, 1, 2, 0, 2, 0, 1, 1, 0, 0, 0, 2, 0, 0, 0, 0, 0]

In [48]:
from sklearn.model_selection import train_test_split
# split data into training and validation data, for both features and target
# The split is based on a random number generator. Supplying a numeric value to
# the random_state argument guarantees we get the same split every time we
# run this script.
train_X, val_X, train_y, val_y = train_test_split(X, y, random_state = 1)